@import "../../../../../styles/Helper/mixin";
.ant-modal {
  top: 20px;
  .ant-modal-title {
    font-size: 24px;
  }
  .button-create {
    width: 35%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 820px) {
      width: 42%;
    }
    @media screen and (max-width: 720px) {
      width: 45%;
    }
    @media screen and (max-width: 650px) {
      width: 50%;
    }
    @media screen and (max-width: 600px) {
      width: 57%;
    }
    @media screen and (max-width: 550px) {
      width: 55%;
      justify-content: space-around;
    }
    @include mobile-sm {
      width: 60%;
    }
    @media screen and (max-width: 400px) {
      width: 68%;
    }
  }
}
